# BOLÃO10 Environment Variables
GEMINI_API_KEY="MY_GEMINI_API_KEY"
APP_URL="MY_APP_URL"
JWT_SECRET="bolao10-secret-key-2024"
ADMIN_EMAIL="admin@bolao10.com"
ADMIN_PASSWORD="admin123"

# Supabase Configuration
SUPABASE_URL="https://zxnsubmxqoplohcngntu.supabase.co"

# PagBank Configuration
PAGBANK_TOKEN=
PAGBANK_EMAIL=
# Use https://sandbox.api.pagseguro.com for sandbox or https://api.pagseguro.com for production
PAGBANK_API_HOST=https://sandbox.api.pagseguro.com
PAGBANK_APP_KEY=

SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp4bnN1Ym14cW9wbG9oY25nbnR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIxMTk5MDAsImV4cCI6MjA4NzY5NTkwMH0.wmkm9sh-q06xRWPsaCWkLgX9RtREHkfHdt1gIIji_Ds"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp4bnN1Ym14cW9wbG9oY25nbnR1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjExOTkwMCwiZXhwIjoyMDg3Njk1OTAwfQ.-YuMRl2xdHKV95xEJ_G3s2Nt8WGL840_Tvo7znD5CWk"
