@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #002B5B; /* Dark Blue from Logo */
  --color-secondary: #1A5F3A; /* Green from Logo */
  --color-accent: #F8F9FA;
}

body {
  @apply font-sans bg-gray-50 text-gray-900;
}
